
.v-spacer {
  height: 50px;
}

.subtitle {
  font-weight: bold;
  
}

.preview {
  position: relative;
}

.box {
  position: absolute;
  border: solid red 1px;
  background: #f004;
  pointer-events: none;
}

.preview-box {
  @extend .box;
  border: solid blue 1px;
  background: #00f4;
}

.hint {
  opacity: 0.35;
}



.box-tab-header {
  cursor: pointer;
  background: #eee;
  display: inline-block;
  width: 15px;
  padding: 3px;
  text-align: center;

  &.selected {
    background: #ff8;
    font-weight: bold;
  }
}



.config-row {
  display: flex;
  gap: 6px;
}

.config-caption {
  width: 50px;
  text-align: right;
}

.config-content {
  flex-grow: 1;
}

.config-short-input {
  width: 40px;
}

.config-long-input {
  width: 100%;
}



.extraction-result {
  border-collapse: collapse;

  td, th {
    border: 1px solid black;
    padding: 2px 10px;
  }
}
